<div class="card bg-light mb-3">
  <div class="card-header">Lista de clientes</div>
  <div class="card-body">
    <div>
      <p class="font-weight-bold">Promedio de edad entre clientes</p>
      <p>{{averageAges | number: '1.4-4'}}</p>
    </div>
    <div>
      <p class="font-weight-bold">Desviación estandar</p>
      <p>{{standardDeviation | number: '1.4-4'}}</p>
    </div>
    <div class="bg-white p-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cliente</th>
            <th scope="col">Edad</th>
            <th scope="col">Fec. Nacimiento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of allCustomers$ | async; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{customer.name }} {{customer.lastname}}</td>
            <td>{{customer.age}}</td>
            <td>{{customer.dateOfBirth.seconds * 1000 | date: 'dd/MM/yyyy' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
